<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <app-country-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)">
        </app-country-input>
    </div>
</div>

<div *ngIf="hasError" class="alert alert-danger mt-25">
    <p class="m-0">No se encontró ningú país llamado: <strong>{{ termino }}</strong></p>
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
