<div class="animate__animated animate__fadeIn">
    <table class="table table-hover mt-25">
        <thead>
            <tr>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index">
                <th>{{ i + 1 }}</th>
                <th>
                    <img [src]="country.flag" [alt]="country.name" class="small-flag">
                </th>
                <td>{{ country.capital }}, {{ country.name }}</td>
                <td>{{ country.population | number }}</td>
                <td>
                    <a [routerLink]="['/pais', country.alpha2Code]" >Ver País</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
